.page-item {
  cursor: pointer;
  font-weight: 900;
  background: none !important;
}

.page-link {
  background: none !important;
  color: #fff !important;
}
.page-link-active {
  color: #dd0000 !important;
}
