.appology-msg,
.not-found-text {
  font-size: 120%;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.not-found-text {
  font-size: 160%;
}
.secondary-option {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none !important;
}
.secondary-option:hover {
  text-transform: uppercase;
  color: #dd0000;
  text-decoration: none !important;
}
