.logo {
  font-size: 150%;
  color: #fff;
  font-weight: 900;
}
.logo-red {
  color: #db0000;
}
.logo-link {
  text-decoration: none !important;
}
.nav-link{
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.active{
  color: #db0000!important;
}
